<html>
<head>
  <title>Web Application</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div id=userData></div>
  <div style="margin:20px;">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Web Application</a>
  </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="/create">Create</a>
      </li>
      <li class="active">
        <a href="/read">Read</a>
      </li>
      <li>
        <a href="/update">Update</a>
      </li>
      <li>
        <a href="/delete">Delete</a>
      </li>
      <li>
        <a href="/">About</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:20px;">
      <h1>Read Data</h1>
      <p>
        <div>
          <p>This section includes a table with existing dataset, no buttons:</p>            
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody id='id00'>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <script>
                $(function() {
                    var table = document.getElementById("id00"); //give this ID to your table
                    $.getJSON("/people", function(people){

                        for(var u = 0; u < people.person.length; u++){
                        var row = table.insertRow(u);
                        var cell = row.insertCell(0);
                        cell.innerHTML = people.person[u].firstName;
                        console.log(people.person[u].firstName);
                        var cell = row.insertCell(-1);
                        cell.innerHTML = people.person[u].lastName;
                        console.log(people.person[u].lastName);
                        var cell = row.insertCell(-1);
                        cell.innerHTML = people.person[u].email;
                        console.log(people.person[u].email);
                        }
                        
                    });   
                });
                </script>
            </tbody>
          </table>
        </div>
      </p>
    </div>
  </div>
</body>
</html>
